body {margin: 0 auto;font-family: tahoma, serif;}

main {margin: 0 auto;width: 650px;}
nav {background-color: rgb(17, 17, 139);position: sticky;top: 0;height: 40px;display: flex;z-index: 2;width: 100%;}
nav a {color: #fff;text-decoration: none;padding: 10px 5px;}
nav a:hover {background-color: #fff;color: black;}


.full-name,.personal-info,.contact,.location,.password {display: flex;max-width: 650px;align-items: center;gap: 15px;margin: 20px auto;}
.full-name div,.personal-info div,.contact div,.location div,.password div {width: 100%}
.full-name input,.personal-info input,.contact input,.location input,.password input {width: 100%;height: 35px;border-radius: 8px;border: none;background-color: rgb(223, 220, 220);}
.personal-info select,.location select {width: 100%;height: 35px;border-radius: 8px;border: none;background-color: rgb(223, 220, 220);}
.referral {width: 100%;height: 35px;border-radius: 8px;border: none;background-color: rgb(223, 220, 220);}
select option {background-color: #fff;}



button {height: 50px;width: 100%;border: none;border-radius: 10px;background-color: #11118b;color: #fff;margin: 15px auto;font-size: 1.2rem;}
button:hover {background-color: #0a0a46;color: #fff;}



@media (max-width: 680px) {main {max-width: 420px;margin: 0 auto;}}












/* flex-wrap: nowrap; */






