* {font-family: tahoma;}
body {box-sizing: border-box;margin: 0;padding: 0;background-image: linear-gradient(42deg, #afcef6, #fff9f1);}
nav {background-color: rgb(17, 17, 139);position: sticky;top: 0;height: 40px;display: flex;z-index: 2;width: 100%;}
nav a {color: #fff;text-decoration: none;padding: 10px 5px;}
nav a:hover {background-color: #fff;color: black;}


h1 {text-align: center;margin: 0 auto;font-size: 3rem;color: #fff;}

.first-section p {margin: 10px auto;text-align: center;color: #fff;font-size: 1.5rem;}

#first-part {background-image: url("/assignment assets/web bg.jpg");background-size: cover;background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  padding: 20px;}

h2 {font-size: 2rem;}

p {font-size: 1.1rem;}

.first-section-2 p {font-size: 1.2rem;}


.section-2 {margin: 15px 50px;padding: 10px;border-radius: 15px;border: 3px solid aqua;}
.h2-underline {border-bottom: 4px solid aqua;max-width: 180px;}
.section-3 {height: 200px;padding: 10px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.social-links {display: flex;align-items: center;justify-content: center;height: 200px;}
.social-link1,.social-link2 {display: flex;align-items: center;justify-content: center;margin: 10px 0;gap: 30px;}

.social-link2 a,.social-link1 a {width: 180px;border: none;border-radius: 10px;color: #fff;text-decoration: none;display: flex;justify-content: center;text-align: center;padding: 15px 0;box-shadow: 0 0 20px gray;}

.youtube {background-color: red;}
.linkedin {background-color: blue;}
.x,.tictok {background-color: black;}
.container {background-color: aqua;border-radius: 10px;padding: 15px;margin: 35px;box-shadow: 0 0 20px gray;}
ul {padding: 0;}
li {margin: 8px;padding: px;background-size: 16px;list-style-type: none;}
li::before {
  content: '';
  display: inline-block;
  width: 20px; 
  height: 20px; 
  background-image: url("/assignment assets/check icon.png");
  background-size: contain; 
  margin-right: 5px;  
}
.goale {display: flex;flex-wrap: wrap;}
.goale div {max-width: 400px;margin: 0 auto;padding: 0 8px;}
.goal {margin-left: auto;width: 400px;margin-right: 30px;}
.goal p {font-size: 1.5rem;}

.target-img {width: 420px;}


