body {font-family: tahoma;margin: 0;background: }
nav {background-color: #11118b;position: sticky;top: 0;height: 40px;display: flex;z-index: 2;}
nav a {color: #fff;text-decoration: none;padding: 10px 5px;}
nav a:hover {background-color: #fff;color: black;}
h1 {text-align: center;}
table {border-collapse: collapse;margin: 25px auto;min-width: 500px;over-flow: hidden;box-shadow: 0 0 20px gray;font-size: 1.2rem;}
/* table caption {background-color: #11118b;color: #fff;} */
table thead tr {background-color: #11118b;color: #fff;text-align: left;font-weight: bold;font-family: ;border-radius: 15px;}
thead {border-radius: 15px;}
table th,table td {text-align: left;padding: 10px}
tbody tr {font-weight: bold;}
tbody tr:nth-of-type(2) {background-color: rgb(231, 222, 222);}
tbody tr:last-of-type {border-bottom: 5px solid #11118b;}

